*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-optical-sizing: auto;
    font-style: normal;
}

.izquierda{
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo{
    height: 110px;
    width: auto;
    display: flex;
}

.search{
    background: #f1f0ed;
    border-radius: 30px;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.search input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 17px;
}

.derecha{
    display: inline-flex;
    gap: 20px;
    align-items: center;
}

.navegacion ul{
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
    background-color: #f1f0ed;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 17px;
}

.navegacion a{
    text-decoration: none;
    color: #444;
}

.home{
    justify-content: end;
    background-color: #f1f0ed;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 17px;
}

/*aside*/
main{
    display: flex;
    height: 100%;
}

aside{
    width: 20%;
    padding: 20px;
    margin-left: 10px;
    background-color: #f1f0ed;
    border-radius: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

aside h2{
    font-size: 25px;
    margin: 10px;
}

aside ul{
    list-style: none;
    margin: 5px;
}

aside a{
    text-decoration: none;
    color: #444;
    display: block;
    padding: 8px 12px;
}

/*section*/

.fotoprincipal{
    width: 80%;
    height: 620px;
    margin: 0px 20px 20px 20px;
    border-radius: 30px;
}

.best{
    
}

/*footer*/

footer{
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: center;
}

footer h4{
    margin-bottom: 10px;
    letter-spacing: 2px;
    padding: 10px;
    background-color: #f1f0ed;
    border-radius: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}