*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-optical-sizing: auto;
    font-style: normal;
}

.izquierda{
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo{
    height: 110px;
    width: auto;
    display: flex;
}

.search{
    background: #f1f0ed;
    border-radius: 30px;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.search input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 17px;
}

.derecha{
    display: inline-flex;
    gap: 20px;
    align-items: center;
}

.navegacion ul{
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
    background-color: #f1f0ed;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 17px;
}

.navegacion a{
    text-decoration: none;
    color: #444;
}

.home{
    justify-content: end;
    background-color: #f1f0ed;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 17px;
}

/*aside*/
main{
    display: flex;
    align-items: flex-start;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

aside{
    width: 20%;
    height: 100vh;
    padding: 20px;
    margin-left: 10px;
    background-color: #f1f0ed;
    border-radius: 30px;
}

aside h2{
    font-size: 25px;
    margin: 10px;
}

aside ul{
    list-style: none;
    margin: 5px;
}

aside a{
    text-decoration: none;
    color: #444;
    display: block;
    padding: 8px 12px;
}

/*section*/

.fotoprincipal{
    width: 97%;
    height: auto;
    margin: 0px 20px 20px 20px;
    border-radius: 30px;
}

.best{
    margin: 20px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px 
}

.productos{
    background-color: #f5f5f5; 
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    width: 250px;
}

section{
    display: flex;
    justify-content: center; 
    gap: 20px;               
    flex-wrap: wrap;         
}

.precio{
    font-size: 15px;
    margin-bottom: 20px;
    text-align: end;
}

.medio{
    display: flex;
    justify-content: center;
}

.flecha{
    border: none;
}

.imagenes{
    width: 200px;
    height: auto;
    align-items: center;
}

.nombre{
    font-size: 18px;
    text-align: left;
    padding: 3px;
}

.descripcion{
    font-size: 13px;
    text-align: left;
    padding: 3px;
}

.details{
    text-align: left;
    padding: 3px;
    margin-top: 3px;
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.nudastudio{
    display: block;
    padding-top: 50px;
    margin: auto;
    width: 72%;
    justify-content: center;
    align-items: center;
}

.abajo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: #222222;
    border-radius: 30px;
    padding: 15px;
    justify-content: center;
}

.carretearriba{
    display: flex;
    color: #f1f0ed;
    justify-content: space-between;
    margin: 7px; 
}

.findus{
    text-decoration: none;
    color: #f1f0ed;
    margin-right: 20px;
    text-decoration: underline;
}

.imgcarrete{
    width: auto;
    height: 250px;
    margin: 8px;
    border-radius: 30px;
}

.shop{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    gap: 0px;
}

.shop1, .shop2, .shop3{
    height: 400px;
    flex: 1;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    color: #f1f0ed;
    font-size: 20px;
    font-weight: 30px;
}

.shop1{
    background-image: url(../img/Face.png);
}

.shop2{
    background-image: url(../img/BeautyTools.jpg);
}

.shop3{
    background-image: url(../img/Body.png);
}

.shop button{
    background: transparent;
    border: 1px solid #f1f0ed;
    color: #f1f0ed;
    padding: 5px 16px;
    border-radius: 25px;
    margin-top: 5px;
}

/*category*/

.skinbody{
    width: 100%;
    margin-left: 20px;
}

.productoscategory{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: fit content;
}

/*login y register*/
.login{
    width: 100%;
    height: 100vh;
    background-image: url(../img/NudaLogin.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin-left: 10px;
}

.iniciarsesion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iniciarsesion form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    width: 100%;
}

.bloques{
    padding: 15px;
    border-radius: 30px;
}

.titulo{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2.5px;
}

/*register*/

.producto{
    display: flex;
    flex-direction: row;
}

.detalleprod{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoprod{
    width: 450px;
}

.contenidop{
    justify-content: center;
    letter-spacing: 1px;
    background-color: #f5f5f5;
    padding: 60px 20px 60px 20px;
    border-radius: 30px;
}
.titulodescripcion{
    font-size: 25px;
    padding: 5px;
}

.contenidop p{
    font-size: 15px;
    padding: 5px;
}

.reviews{
    background-color: #f5f5f5;
    padding: 20px 10px 20px 10px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    letter-spacing: 1px;
    font-size: 15px;
}
.reviews h2{
    text-align: center;
}

.reviews ul{
    list-style: none;
}

.review{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    padding: 15px;
    gap: 4px;
}

.submit{
    padding: 5px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-optical-sizing: auto;
    font-style: normal;
}

/*search-results*/

.titulosearch{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 5px; 
    margin-left: 20px;
    width: 100%;
}

.searchr{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.seactionsearch{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

/*footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    letter-spacing: 2px;
    padding: 10px;
    background-color: #f1f0ed;
    border-radius: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.imagenfooter{
    width: 200px;
}

/*RESPONSIVE*/
@media (max-width: 420px){
   /*header*/
header{
    flex-wrap: wrap;
    max-width: 100%;
}

.izquierda{
    align-items: center;
    max-width: 100%;
}

.logo{
    height: 90px;
}

.search input{
    font-size: 15px;
}

.derecha{
    align-items: center;
    width: 100%;
}

.navegacion ul{
    font-size: 15px;
    margin-left: 10px;
    justify-content: flex-start;
}

.navegacion a{
    justify-content: flex-end;
}

.home{
    font-size: 15px;
    margin-right: 0px;
}

/*Aside*/

main {
    flex-direction: column;
    align-items: center;
  }

aside{
    width: 95%;
    height: auto;
    padding: 12px;
    margin: 15px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
   

aside h2{
    font-size: 15px;
    margin: 5px;
}

aside ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}

/*Index*/

.fotoprincipal{
    display: flex;
    width: 90%;
    margin: 10px;
    align-items: center;
    justify-self: center;
}

.best{
    margin: 20px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px 
}

.productos{
    background-color: #f5f5f5; 
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    width: 250px;
}

section{
    display: flex;
    justify-content: center; 
    gap: 20px;               
    flex-wrap: wrap;         
}

.precio{
    font-size: 15px;
    margin-bottom: 20px;
    text-align: end;
}

.medio{
    display: flex;
    justify-content: center;
}

.flecha{
    border: none;
}

.imagenes{
    width: 200px;
    height: auto;
    align-items: center;
}

.nombre{
    font-size: 18px;
    text-align: left;
    padding: 3px;
}

.descripcion{
    font-size: 13px;
    text-align: left;
    padding: 3px;
}

.details{
    text-align: left;
    padding: 3px;
    margin-top: 3px;
    text-decoration: none;
    color: #444;
    font-size: 14px;
}

.nudastudio{
    display: block;
    padding-top: 50px;
    margin: auto;
    width: 72%;
    justify-content: center;
    align-items: center;
}

.abajo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: #222222;
    border-radius: 30px;
    padding: 15px;
    justify-content: center;
}

.carretearriba{
    display: flex;
    color: #f1f0ed;
    justify-content: space-between;
    margin: 7px; 
}

.findus{
    text-decoration: none;
    color: #f1f0ed;
    margin-right: 20px;
    text-decoration: underline;
}

.imgcarrete{
    width: auto;
    height: 250px;
    margin: 8px;
    border-radius: 30px;
}

.shop{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    gap: 0px;
}

.shop1, .shop2, .shop3{
    height: 400px;
    flex: 1;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    color: #f1f0ed;
    font-size: 20px;
    font-weight: 30px;
}


.shop button{
    background: transparent;
    border: 1px solid #f1f0ed;
    color: #f1f0ed;
    padding: 5px 16px;
    border-radius: 25px;
    margin-top: 5px;
}


/*Log In*/
.login {
    background-image: none !important;
    background-color: #f5f5f5; 
}

.iniciarsesion form {
    background: rgb(244, 228, 232);
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 90%;
    height: auto; 
    margin-top: 20px;
}



/*Register*/
.register {
    background-image: none !important;
    background-color: #f5f5f5; 
       
}

.iniciarsesion form {
    background: rgb(244, 228, 232);
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 90%;
    height: auto; 
    margin-top: 15px;
}

/*Product*/

.producto {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.detalleprod {
    display: column;
    flex-direction: column; 
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}

.fotoprod {
    width: 90%;
    max-width: 300px;
    height: auto;
}

.contenidop {
width: 100%;
text-align: center;
background-color: #f5f5f5;
border-radius: 15px;
padding: 15px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.contenidop h1,
.contenidop p {
    text-align: center;
  }


  .reviews {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 10px;
  }

  .review {
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }

 
  footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  footer img {
    width: 150px;
  }

/*Search*/

  
.titulosearch {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    width: 100%;
    margin-left: 20px;
  }

 
.searchr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
  }

.seactionsearch {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 90%;
  }


.productos {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

.imagenes {
    width: 80%;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
  }

 
footer {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
  }

footer img {
     width: 150px;
    margin-bottom: 5px; 
}


/*Category*/

.titulosearch {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    width: 100%;
  }

.searchr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
  }

.seactionsearch {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 90%;
  }
.productos {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

.imagenes {
    width: 80%;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
  }

footer {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
  }

footer img {
    width: 150px;
    margin-bottom: 5px;
  }

}